{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.posts'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.editorial'|trans},
            {label: 'backend.nav.posts'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('editorial/backend/posts/PostsApp', {
    postsPath: path('backend_editorial_posts'),
    posts: posts,
    search: search,
    postTypes: postTypes,
    taxonomies: taxonomies,
    locales: locales,
    trashed: trashed,
    postTypeIds: postTypeIds,
    termIds: termIds,
    statuses: statuses,
    newPath: path('backend_editorial_posts_new'),
    editPath: path('backend_editorial_posts_edit', {id: '__id__'}),
    showPath: path('backend_editorial_posts_show', {id: '__id__'}),
    previewPath: path('backend_editorial_posts_preview', {id: '__id__', locale: '__locale__'}),
    deletePath: path('backend_editorial_posts_delete', {id: '__id__'}),
    restorePath: path('backend_editorial_posts_restore', {id: '__id__'}),
    forceDeletePath: path('backend_editorial_posts_force_delete', {id: '__id__'}),
    emptyTrashPath: path('backend_editorial_posts_empty_trash'),
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
