{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.sitemap'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.editorial'|trans},
            {label: 'backend.nav.sitemap'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('editorial/backend/sitemap/SitemapApp', {
    stats: stats,
    invalidatePath: path('backend_editorial_sitemap_invalidate'),
    sitemapUrl: path('frontend_sitemap'),
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
