{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.postTypes'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.editorial'|trans},
            {label: 'backend.nav.postTypes'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('editorial/backend/post-types/PostTypesApp', {
    postTypes: postTypes,
    taxonomies: taxonomies,
    createPath: path('backend_post_types_create'),
    updatePath: path('backend_post_types_update', {id: '__id__'}),
    deletePath: path('backend_post_types_delete', {id: '__id__'}),
    fieldCreatePath: path('backend_post_types_field_create', {id: '__id__'}),
    fieldEditPath: path('backend_post_types_field_edit', {id: '__id__', fieldId: '__fieldId__'}),
    fieldDeletePath: path('backend_post_types_field_delete', {id: '__id__', fieldId: '__fieldId__'}),
    fieldReorderPath: path('backend_post_types_field_reorder', {id: '__id__'}),
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
