{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.forms'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.editorial'|trans},
            {label: 'backend.nav.forms'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('editorial/backend/forms/FormsApp', {
    locales: locales,
    listPath: path('backend_editorial_forms_list'),
    getPath: path('backend_editorial_forms_get', {id: '__id__'}),
    createPath: path('backend_editorial_forms_create'),
    updatePath: path('backend_editorial_forms_update', {id: '__id__'}),
    deletePath: path('backend_editorial_forms_delete', {id: '__id__'}),
    fieldCreatePath: path('backend_editorial_forms_field_create', {id: '__id__'}),
    fieldUpdatePath: path('backend_editorial_forms_field_update', {id: '__id__', fieldId: '__fieldId__'}),
    fieldDeletePath: path('backend_editorial_forms_field_delete', {id: '__id__', fieldId: '__fieldId__'}),
    fieldReorderPath: path('backend_editorial_forms_field_reorder', {id: '__id__'}),
    submissionsPath: path('backend_editorial_forms_submissions', {id: '__id__'}),
    exportPath: path('backend_editorial_forms_submissions_export', {id: '__id__'}),
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
