{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ 'backend.nav.menus'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        crumbs: [
            {label: 'backend.nav.sections.editorial'|trans},
            {label: 'backend.nav.menus'|trans},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('editorial/backend/menus/MenusApp', {
    initialMenus: menus,
    locales: locales,
    targetTypes: targetTypes,
    visibilities: visibilities,
    listPath: path('backend_menus_list'),
    createPath: path('backend_menus_create'),
    showPath: path('backend_menus_show', {id: '__id__'}),
    updatePath: path('backend_menus_update', {id: '__id__'}),
    deletePath: path('backend_menus_delete', {id: '__id__'}),
    itemCreatePath: path('backend_menus_items_create', {id: '__id__'}),
    itemUpdatePath: path('backend_menus_items_update', {id: '__id__'}),
    itemDeletePath: path('backend_menus_items_delete', {id: '__id__'}),
    itemReorderPath: path('backend_menus_items_reorder', {id: '__id__'}),
    pickerPostsPath: path('backend_menus_picker_posts'),
    pickerTermsPath: path('backend_menus_picker_terms'),
    pickerPostTypesPath: path('backend_menus_picker_post_types'),
    pickerTaxonomiesPath: path('backend_menus_picker_taxonomies'),
}) }} class="flex-1"></div>
{% endblock %}
