{% extends '@Shared/email/layout/base.html.twig' %}

{% block content %}
<h1>{{ 'editorial.mail.form.confirmation_heading'|trans }}</h1>
<p>{{ 'editorial.mail.form.confirmation_intro'|trans({'{title}': formTitle}) }}</p>
<p>{{ 'editorial.mail.form.confirmation_outro'|trans }}</p>
{% endblock %}
